/* src/styles/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    background-color: #333;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  h1 {
    color: #333;
    background-color: #ffffff
  }
  
  h2 {
    color: #2d2e30;
    background-color: #ffffff
  }



form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* div {
    margin-bottom: 15px;
  } */
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }

  .home-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    /* width: 50%;                 Full width of the container
    max-width: 500px;            Max width to control size on larger screens */
    border-radius: 50%;        /* Rounded corners */
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    transition: transform 0.3s, filter 0.3s; /* Smooth scaling and filter transition */
    filter: grayscale(100%);
  }
  
  /* .home-image:hover {
    transform: scale(1.05); 
    filter: brightness(1.1); 
  } */
  
  .social-icon {
    width: 60px;
    height: 60px;
    object-fit: cover;
    transition: transform 0.3s, filter 0.3s;
    filter: grayscale(100%);
  }
  
  .social-icon:hover {
    transform: scale(1.2);
    filter: grayscale(0%);
  }


  .home-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* justify-content: space-between; */
    align-items: center; /* Vertically centers the content */
    /* border: 2px solid #852c88;  */
    border-radius: 10px; /* Optional: Rounded corners for the rectangle */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
  }
  
  .home-description {
    margin-top: 10px;
    font-size: 1.2em;
    /* border: 1px solid #45c766; */
  }
  
  .bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* Adds space between child elements */
    /* border: 1px solid #9b2525; */
    
  }
  

  
  .social {
     display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end; 
    /* border: 1px solid #c9bb3b; */
    /* background-color: #bdb8b8; */
  }
  
  .social-links {
    display: flex;
    gap: 10px; 
    /* border: 1px solid #7056cf; */
    background-color: #ffffff;

  }
  #particles canvas {
    z-index: -1;
    background: "#7056cf";
}
  
  
  
  
  
